<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% seo %}
  <link rel="stylesheet" href="{{ site.baseurl}}assets/dist-style.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl}}slick/slick.css"/>
  <!--Add the new slick-theme.css if you want the default styling-->
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl}}slick/slick-theme.css"/>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  {%- include custom_head.html -%}

</head>
