<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}

  <body style="font-family: 'Onest', sans-serif;" class="container mx-auto px-4 md:px-16 tracking-wide bg-slate-50 dark:bg-slate-800 dark:text-white">

    {% include background_grad.html %}
  <div style="position: relative;">
    {% include navbar.html %}

    <div>
      {{ content }}
    </div>

    {% include footer.html %}
    {% include up_button.html %}
  </div>

  <!-- Share This -->
  <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=66e6f5712d491c00194a1ee8&product=inline-reaction-buttons&source=platform" async="async"></script>
  
  <!-- GitTalk -->
  <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
  <script>
    const gitalk = new Gitalk({
    clientID: 'Ov23lijkGN5gC5rW25X4',
    clientSecret: 'd15ae7c606acfb912956237d7ccf6b781a8dd5e0',
    repo: 'PersonalPortfolio',      // The repository of store comments,
    owner: 'muhashfar',
    admin: ['muhashfar'],
    id: location.pathname,      // Ensure uniqueness and length less than 50
    distractionFreeMode: false  // Facebook-like distraction free mode
  })

  gitalk.render('gitalk-container')
  </script>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="slick/slick.min.js"></script>
  <script type="text/javascript">
    $('.portfolio').slick({
  centerMode: true,
  centerPadding: '60px',
  slidesToShow: 3,
  focusOnSelect: true,
  responsive: [
    {
      breakpoint: 768,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        autoplay: true,
        autoplay: true,
        autoplaySpeed: 2000,
      }
    },
    {
      breakpoint: 480,
      settings: {
        arrows: false,
        centerMode: false,
        centerPadding: '40px',
        slidesToShow: 1
      }
    }
  ]
});
  </script>
  </body>
</html>
