---
layout: base
---

<!-- Menu -->
{% include menu.html %}

<!-- Qoute of the day -->

<div class="flex justify-center py-8 ">
  <article style="width: 100%;" class="prose prose-p:font-extralight prose-slate dark:prose-invert prose-h1:decoration-2 prose-h1:decoration-indigo-600 prose-h1:underline-offset-4">
    <span>{{ content }}</span>
  </article>
</div>

<!-- Collaborations -->

<div class="flex justify-center mx-auto max-w-prose">
  <span style="font-size: 25px; font-weight: 700;">Collaborations</span>
</div> 
<div class="flex justify-center py-8 ">
  <div style="width: 649px; background-color: #000; box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); border: 1px solid #6d6d6d;">
    <span style="position: absolute; background: rgba(255, 255, 255, 0.28); box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); backdrop-filter: blur(5.9px); -webkit-backdrop-filter: blur(5.9px); border: 1px solid rgba(255, 255, 255, 0.3); margin-top: 10px; margin-left: -5px; padding: 5px; font-size: 10px; font-weight: 700; color: #ff444d;">🎉COMING SOON</span>
    <img src="{{ site.baseurl }}/assets/images/ardra.PNG" alt="" style="width: 200px; margin: 20px auto;">
  </div>
</div>

<!-- Posts -->

<div class="flex justify-center mx-auto max-w-prose" style="margin-bottom: 10px; padding-bottom: 2.3rem;">
  <span style="font-size: 25px; font-weight: 700;">Explore posts</span>
</div>
<div class="md:w-4/5 mx-auto gap-4 md:gap-6 columns-1 md:columns-3">
  {% for post in site.posts | limit:9 %}
  <div class="md:fadeIn mb-8 break-inside-avoid-column ">
    <div style="box-shadow: 8px 14px 45px -20px rgba(0,0,0,0.1);border: 1px solid #e6e6e6;">
      <a href="{{ post.url }}">
        <img src="{{ site.baseurl }}{{ post.image }}" alt="" class="w-full max-w-screen-sm h-auto shadow-md">
      <a>
    </div>
    <div class="span-background">
      <span style="font-family: 'Manjari', sans-serif; font-size: 10px;padding: 15px; color: #000;">{{ post.title | truncate: 25 }} | {{ post.category }}</span>
    </div>
  </div>  
  {% endfor %}
</div>

<!-- See More -->

<div class="flex justify-center mx-auto max-w-prose" style="margin-top: 10px;">
<a href="{{ site.baseurl }}/all-posts"><span style="padding: 10px 20px; background: rgba(255, 255, 255, 0.24); backdrop-filter: blur(6.1px); -webkit-backdrop-filter:blur(6.1px); border: 1px solid rgba(255, 255, 255, 0.29); box-shadow: 0 4px 50px rgba(0, 0, 0, 0.04); font-size: 12px;"> See All Posts @muhash </span></a>
</div>
